.App {
  text-align: center;
}

body {
  background-color: #ddb892;
}

.Header {
  border-bottom: 2px solid black;
  font-size: small;
}

.Header h1 {
  margin-bottom: 5%;
  margin-top: 3%;
}

.topText {
  margin: 5% 10% 5% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.links {
  margin: 5% 10% 5% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  grid-area: "logo";
  margin-top: 3%;
}

.info {
  margin-top: 3%;
}

.map {
  max-width: 80%;
  margin: auto;
  border: 3px solid black;
}

.infoText {
  margin: auto;
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;
}

.member {
  width: 10rem;
  height: 15rem;
  object-fit: cover;
}

#spotify {
  margin: auto;
}

#instagram {
  margin: auto;
}

#website {
  margin: auto;
}
